nav.header__nav
  ul.header__nav-list
    li.header__nav-item
      a.header__nav-link.header__nav-link--active(href="") О нас
    li.header__nav-item
      a.header__nav-link(href="") Услуги
        i.material-icons expand_more
    li.header__nav-item
      a.header__nav-link(href="") Вакансии
    li.header__nav-item
      a.header__nav-link(href="") Новости
    li.header__nav-item
      a.header__nav-link(href="") Соглашения
        i.material-icons expand_more