.header__user-menu
  ul.header__user-list
    li.header__user-item
      a.header__user-link.header__user-link--light(href="") войти
    li.header__user-item
      a.header__user-link.header__user-link--purple(href="") зарегистрироваться