header.header
  .wrapper
    .header__logo
      a(href="#").header__link
        img.header__logo-img(src="img/header__logo-img.svg", alt="Toxin")
        img.header__name-img(src="img/header__name-img.svg", alt="Toxin")

    .header__nav-block
      include ../header__nav-list/header__nav-list
      include ../header__user-menu/header__user-menu


